<h1>This is a templates file (sample snippets)</h1>

<h2>1. Images</h2>

<p>
1. Either (clickable sides):
</p>

<p>
    <a href="./assets/lotus.jpg">
        <img src="./assets/lotus.jpg" alt="lotus" width="20%" style="display: block; margin-left: auto; margin-right: auto; border: 1px black dotted; border-radius: 1px; padding: 1px;" />
    </a>
</p>

<p>
2. Or:
</p>

<p>
    <a href="./assets/Fr.jpg">
        <div style="text-align: center;">
            <img src="./assets/Fr.jpg" alt="Fr" width="20%" style="border: 1px black dotted; border-radius: 1px;" />
        </div>
    </a>
</p>

