<h1>This is a templates file (sample snippets)</h1>

<h2>1. Tables</h2>

<style>
    table {
        border-collapse: collapse;
        width: auto;
    }
    td {
        padding: 0;
        margin: 0;
        text-align: left;
        vertical-align: top;
    }
    .number {
        padding-right: 0.5em;
        white-space: nowrap;
    }
</style>
<table>
    <tr>
        <td colspan="2" style="text-align: center;">Center text</td>
    </tr>
    <tr>
        <td class="number">col 1</td>
        <td>col 2</td>
    </tr>
    <tr>
        <td class="number">2.1</td>
        <td>Cook rice</td>
    </tr>
    <tr>
        <td class="number">3.1</td>
        <td>Serve meal</td>
    </tr>
</table>
